In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [6]:
df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [7]:

df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,204.287,8.700,27132
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,204.838,8.690,20600
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,98.265,8.600,12423
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,106.822,8.565,15832
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,72.472,8.546,8635